{
  "presets": [
    [
      "@babel/preset-env",
      {
        "options": {},
        "loose": true,
        "debug": true,
        "modules": "commonjs",
        "spec": false,
        "targets": {
          "node": "current"
        }
      }
    ]
  ],
  "//comment": ["transform-class-properties", { "spec": true }],
  "plugins": [
  ]
}
